<html>

<head>
    <meta charset="UTF-8">
    <title>Chess by The Sourcerers</title>
</head>

<body>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="board">
      <% (0..7).each do |y| %>
        <% (0..7).each do |x| %>
          <% chess_piece = @board.get_piece_at(x,y) %>
          <% if chess_piece.nil? %>
            <div class="<%=@board.get_colour(x,y)%>" data-x-coord=<%=x %> data-y-coord=
                 <%= y %>>
            </div>
          <% else %>
            <div class="<%=@board.get_colour(x,y)%>" data-x-coord=<%=x %> data-y-coord=<%= y %>>
              <div class="chess_piece text-center" data-piece-id ="<%=chess_piece-id%>" data-x-coord=<%=x %> data-y-coord= <%= y %> %>
                <%= chess_piece.unicode.html_safe %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</body>


</html> 